streamlit
python-dotenv
google-generativeai
langchain
langchain-community
chromadb
pymupdf
pandas
pillow
python-dateutil
exifread
pikepdf
fastembed
faiss-cpu
pypdf
google-api-core

google-generativeai==0.8.5
google-ai-generativelanguage==0.6.10
google-api-core>=2.19.0

